body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
/* Header */
header {
    text-align: left;
    padding: 20px 40px 0px;
    margin-left: 350px;
}

h1, h2{
    color: rgb(63, 63, 63);
}

a {
    font-size: 12px;
    text-decoration: none;
}
/* Hidden nav */
.mobile-nav {
    display: none;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto; 
}

.mobile-nav button {
    background-color: white;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
}
/* Container */
.container h2 {
    display: none;
}

.container {
    max-width: 55%;
    margin: 20px auto;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title, .server-details, .website {
    display: inline-block;
    vertical-align: top;
    width: 42%;
    margin-left: 10px;
}
/* Title */
.title img {
    width: 200px;
    padding: 10px;
    margin-left: 20%;
}

.title p {
    font-size: 14px;
    color: #333;
}
/* server-details */
.server-details {
    width: 53%;
}
/* icons column*/
.icons {
    width: 370px;
    display: inline-block;
}

.icons-details {
    width: 100%;
    display: inline-block;
}

.icons-details i {
    color: white;
    background-color: #266BA9;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    margin-right: 8px;
    padding-top: 7px;
}

.icons-details a {
    display: inline-block;
    text-decoration: none;
    color: #266BA9;
    margin: 3px;
}

.icons-details span{
    width: 50%;
    display: inline-block;
    margin: 5px 0px;
    font-size: 14px;
    vertical-align: top;
}

#icons-name {
    width: 32%;
    margin-left: 0px;
    color: #266BA9;
}
/* website column */
.website {
    text-align: center;
    margin: 50px auto 0px;
    width: 180px;
}

.website a {
    text-decoration: underline;
    color:#333;
}

.website #webiste-button {
    background-color: #E64A19;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

.website i {
    display: inline-block;
    font-size: 9px;
    text-align: center;
    margin: 0px 5px;
}

.website-icon {
    display: none;
}

.website-icon img {
    width: 80px;
    height: 65px;
}
/* popup design */
.popup {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 20px 0px 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
    max-width: 90%;
    width: 330px;
    background-color: white;
}

.popup h2 {
    margin: 0px auto;
}

.popup p ,.popup span  {
    font-size: 13px;
}

.popup.active {
    display: block;
}
.popup span img {
    width: 20px;
    height: 20px;
}

#countdown {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 20px 0;
}

#discount {
    background-color: #E2223B;
    color: white;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    padding: 20px;
}

.countdown-box {
    background-color: black;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    width: 40px 20px;
    text-align: center;
    color: white;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 1px 5px;
    border-radius: 50%;
    color: white;   
}


/* MOBILE Media Queries for Responsiveness */
@media (max-width: 600px) {
    header {
        margin-left: 0px;
        text-align: center;
        padding: 20px 0px 0px;
    }

    h1 {
        font-size: 20px;
        margin: 10px 0px 0px 0px;
    }

    .container h2 {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin: 10px auto;
    }

    h3 {
        color: #266BA9;
        margin: 0px;
        font-size: 28px;
    }

    p {
        font-size: 12px;
        margin: 0px;
        color: gray;
    }

    .mobile-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 90%;
    }

    .mobile-nav img {
        width: 35px;
        height: 30px;
    }

    .container {
        padding: 0px 30px 30px;
        margin: 0px auto;
        max-width: 75%;
    }

    .title , .website p a {
        display: none;
    }

    .website, .website-icon {
        margin: 0px auto 20px;
        display: block;
    }

    .icons, .website, .server-details {
        width: 100%;
    }

    #countdown {
        font-size: 20px;
    }

    .popup {
        width: 90%;
        right: 10px;
        bottom: 10px;
    }
}

/* TABLET Media Queries for Responsiveness */
@media (min-width: 601px) and (max-width: 1024px) {
    header {
        margin: 0px 20px;
        padding: 20px 0px 0px;
        font-size: 22px;
    }
    
    .container {
        max-width: 90%;
    }

    .title, .server-details {
        width: 47%;
    }
    
    .title p {
        font-size: 22px;
    }

    .title img {
        width: 280px;
        margin-left: 10%;
    }

    .website p {
        display: none;
    }

    .icons, .website {
        width: 100%;
        text-align: left;
        margin: 10px;
    }

    .icons-details i {
        width: 35px;
        height: 25px;
        font-size: 14px;
    }

    #icons-name, a , .icons-details span{
        font-size: 20px;
    }

    #countdown {
        font-size: 24px;
    }

    .popup {
        width: 45%;
        right: 15px;
        bottom: 15px;
    }

    .popup h2 {
        font-size: 30px;
    }

    .popup p, .popup span {
        font-size: 17px;
    }
}